<!DOCTYPE html>
<html>
  <head>
<script type="text/javascript" src="/static/jq.js"></script>
<script type="text/javascript" src="/static/axios.min.js"></script>
<script type="text/javascript" src="/static/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/popper.min.js"></script>
<script type="text/javascript" src="/static/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/static/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/mdb.min.js"></script>
<script type="text/javascript" src="/static/vue.js"></script>
<script type="text/javascript" src="/static/bootbox.min.js"></script>
<!-- CSS -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
<link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/static/all.css" type="text/css">
<link rel="stylesheet" href="/static/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="/static/mdb.min.css" type="text/css">
<link rel="stylesheet" href="/static/jquery.dataTables.min.css" type="text/css">

<!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Google Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">

<link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
    <meta charset=utf-8 />
    <title>Sistema Casa de Polo</title>
  </head>
  
{% block body %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}

<div class="col-sm-12">

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        
            <div class="alert bg-danger alert-{{ category }} alert-dismissible fade show" role="alert">
                <span><d class="text-light">{{ message }}</d></span>
                <button type="button" class="close btn " data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

    </div>


<div class="row">
<div class="col-3">

</div>
<div class="col-6">
    <form action="/login" method="POST">
<section class="form-elegant">
  <!--Form without header-->
  <div class="card">

    <div class="card-body sm-2">

      <!--Header-->
      <div class="text-center">
        <h3 class="text-muted mb-5"><strong >Ingresar sistema Polo</strong></h3>
      </div>

      <!--Body-->
      <div class="md-form">
        <input name="username"  type="text"  class="form-control">
        <label >Usuario</label>
      </div>

      <div class="md-form pb-3">
        <input type="password" id="Form-pass1" name="password" class="form-control">
        <label for="Form-pass1" >clave</label>
      </div>

      <div class="text-center mb-3">
        <button type="submit" class="btn blue-gradient btn-block btn-rounded z-depth-1a">Aceptar</button>
      </div>


    </div>

  </div>
  <!--/Form without header-->

</section>
</form>
</div>
<div class="col-3"></div>
{% endif %}
{% endblock %}
