<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
<link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="/static/all.css" type="text/css">
<link rel="stylesheet" href="/static/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="/static/mdb.min.css" type="text/css">
<link rel="stylesheet" href="/static/jquery.dataTables.min.css" type="text/css">


<script type="text/javascript" src="/static/axios.min.js"></script>
<script type="text/javascript" src="/static/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/popper.min.js"></script>
<script type="text/javascript" src="/static/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/static/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/mdb.min.js"></script>
<script type="text/javascript" src="/static/vue.js"></script>
<script type="text/javascript" src="/static/bootbox.min.js"></script>




<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ==" crossorigin="anonymous"></script>
<link href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

<!-- JQuery -->
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js" integrity="sha512-RdSPYh1WA6BF0RhpisYJVYkOyTzK4HwofJ3Q7ivt/jkpW6Vc8AurL1R+4AUcvn9IwEKAPm/fk7qFZW3OuiUDeg==" crossorigin="anonymous"></script>

{% block body %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}


<div class="row">
<div class="col-3">

</div>
<div class="col-6">
    <form action="/login" method="POST">
<section class="form-elegant">
  <!--Form without header-->
  <div class="card">

    <div class="card-body sm-2">

      <!--Header-->
      <div class="text-center">
        <h3 class="text-muted mb-5"><strong >Ingresar sistema Polo</strong></h3>
      </div>

      <!--Body-->
      <div class="md-form">
        <input name="username"  type="text"  class="form-control">
        <label >Usuario</label>
      </div>

      <div class="md-form pb-3">
        <input type="password" id="Form-pass1" name="password" class="form-control">
        <label for="Form-pass1" >clave</label>
      </div>

      <div class="text-center mb-3">
        <button type="submit" class="btn blue-gradient btn-block btn-rounded z-depth-1a">Aceptar</button>
      </div>


    </div>

  </div>
  <!--/Form without header-->

</section>
</form>
</div>
<div class="col-3"></div>
{% endif %}
{% endblock %}
