<!DOCTYPE html>
<html>
  <head>
<script type="text/javascript" src="/static/jq.js"></script>
<script type="text/javascript" src="/static/axios.min.js"></script>
<script type="text/javascript" src="/static/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/popper.min.js"></script>
<script type="text/javascript" src="/static/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/static/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/mdb.min.js"></script>
<script type="text/javascript" src="/static/vue.js"></script>
<script type="text/javascript" src="/static/bootbox.min.js"></script>
<!-- CSS -->
<link rel="stylesheet" href="/static/all.css" type="text/css">
<link rel="stylesheet" href="/static/icofont.css" type="text/css">
<link rel="stylesheet" href="/static/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="/static/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="/static/mdb.min.css" type="text/css">
<link rel="stylesheet" href="/static/jquery.dataTables.min.css" type="text/css">

<!-- Font Awesome -->
<!-- Google Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">

<link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
    <meta charset=utf-8 />
    <title>Sistema Casa de Polo</title>
  </head>
        <style>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">

<link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
    <meta charset=utf-8 />
    <title>Sistema Casa de Polo</title>
  <
/head>
        <style>
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}


.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}



.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}






body {
    background-color: #3498DB;
  font-family: 'lato', sans-serif;
}
.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
  small {
    font-size: 0.5em;
  }
}




$table-breakpoint: 480px;
$table-background-color: #FFF;
$table-text-color: #024457;
$table-outer-border: 1px solid #167F92;
$table-cell-border: 1px solid #D9E4E6;

// Extra options for table style (parse these arguments when including your mixin)
$table-border-radius: 10px;
$table-highlight-color: #EAF3F3;
$table-header-background-color: #167F92;
$table-header-text-color: #FFF;
$table-header-border: 1px solid #FFF;

// General styles

body {
  padding: 0 2em;
  font-family: Arial, sans-serif;
  color: #024457;
  background: #f2f2f2;
}

h1 {
  font-family: Verdana;
  font-weight: normal;
  color: #024457;
  span {color: #167F92;}
}
   body {
  font: 90%/1.45em "Helvetica Neue", HelveticaNeue, Verdana, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #fff;
}



.double-nav .breadcrumb-dn {
  color: #fff;
}
.side-nav.wide.slim .sn-ad-avatar-wrapper a span {
  display: none;
}



      </style>
<body>
 <style>

</style> 
<header>
  <nav class="navbar navbar-expand-sm ">
      </ul>
      <ul class="navbar-nav nav-flex-icons">
     <li class="nav-item">
        </li><li class="nav-item">         
        </li>
        <li class="nav-item">
          <a href="/logout" class="nav-link"><i class="icofont-logout"></i></a>
        </li>
      </ul>
    </div>
    <div class="row">
    
    
    <div class="col-sm-12">

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        
            <div class="alert bg-danger alert-{{ category }} alert-dismissible fade show" role="alert">
                <span><d class="text-light">{{ message }}</d></span>
                <button type="button" class="close btn " data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

    </div>

<diV>
</div>


    </nav>
</header>

<div class="container my-4">
  <div class="modal fade" id="modalSubscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold text-muted ms-5">Sistema de registro Casa de Polo</h4>
        
      </div>
      <div class="modal-body mx-6">
         
  <form  id="myform" method="POST"  >
   <div class="md-for form-group  mx-sm-3 mb-2">      
      <input  class="form-contro-md" type="text" placeholder="Codigo de Operación (OP)" name="op">
      <input  class="form-contro-md" type="text" placeholder="Referencia" name="referencia">
      <input  class="form-contro-md" type="number" placeholder="Color" name="color">
      <input  class="form-contro-md" type="number" placeholder="Cantidad Total" name="cant_total">
      <input  class="form-contro-md" type="number" placeholder="Talla S" name="cant_tallaS">
      <input  class="form-contro-md" type="number" placeholder="Talla M" name="cant_tallaM">
      <input  class="form-contro-md" type="number" placeholder="Talla L" name="cant_tallaL">
      <input  class="form-contro-md" type="number" placeholder="Talla XL" name="cant_tallaXL">
      <input  class="form-contro-md" type="number" placeholder="Talla XXL" name="cant_tallaXXL">
      <input  class="form-contro-md" type="text" placeholder="Nota" name="nota">
      <input type="hidden" value="Abierta" name="estado">        
      <div class="modal-footer d-flex justify-content-center">
      <input type="submit"  class="btn btn-outline-success "  value="Guardar" onclick="handleForm()">
      <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cerrar</button>
        
   </div>

  </form>
 
 </div>
 </div>

    </div>
  </div>
</div></div>

<div class="text-center">
  <a href="" class="btn btn-outline-blue btn-rounded mb-4" data-toggle="modal" data-target="#modalSubscriptionForm">Agregar Operación <i class="icofont-ui-add"></i></a>
</div>

     
<style>

td.details-control {
    background: url('/static/details_open.png') no-repeat center center;
    cursor: pointer;
}
closes tr.shown td.details-control {
    background: url('/static/details_close.png') no-repeat center center;
}



</style>
<table id="example" class="table border-dark table-bordered table-hover table-sm"  cellspacing="0" width="100%">
        <thead>
            <tr class="p-3 mb-2 bg-info text-white">
                <th><i class="icofont-pie-chart"></i></th>
                <th>Operación (OP)<i class="icofont-atom"></i></th>
                <th>Referencia  <i class="icofont-brand-appstore"></i></th>
                <th>Cantidad Total <i class="icofont-ui-calculator"></i></th>
                <th>Color  <i class="icofont-color-bucket"></i></th>
                <th>Fecha Creada <i class="icofont-clock-time"></i></th>
            </tr>
        </thead>
        <tfoot>
            <tr class="p-3 mb-2 bg-light text-white">
                <th></th>
                <th>OP</th>
                <th>Referencia</th>
                <th>Cantidad total</th>
                <th>Color</th>
                <th>Fecha</th>
            </tr>
        </tfoot>
    </table>




        
<script type="text/javascript">

function format ( d ) {
   // alert(typeof(d.canTerminada
   
    //console.log( Object.prototype.toString.call([d.canTerminada]));
            
//$.each([d.canTerminada], function(  key, value ) {
 // alert( key + ": " + value );
//});
function getDataFaltante(id_pr){
//cantidad talla total 
    $.getJSON('/getDataFaltante/'+id_pr,
      function(data) {$("#rtS"+id_pr+"").text(data.megaRS);})
    $.getJSON('/getDataFaltante/'+id_pr,
      function(data) {$("#rtM"+d.id_pr+"").text(data.megaRM);})
    $.getJSON('/getDataFaltante/'+id_pr,
      function(data) {$("#rtL"+id_pr+"").text(data.megaRL);})
    $.getJSON('/getDataFaltante/'+id_pr,
      function(data) {$("#rtXL"+id_pr+"").text(data.megaRXL);})
    $.getJSON('/getDataFaltante/'+id_pr,
      function(data) {$("#rtXXL"+id_pr+"").text(data.megaRXXL);})
    $.getJSON('/getDataFaltante/'+id_pr,
      function(data) {$("#cf"+id_pr+"").text(data.megacanFalt);})
    $.getJSON('/getDataFaltante/'+id_pr,
      function(data) {$("#cr"+id_pr+"").text(data.megacanCR);})
//cantidad registrada
    $.getJSON('/getDataFaltante/'+id_pr,
      function(data) {$("#pS"+id_pr+"").text(data.megacanPS);})
}
getDataFaltante(d.id_pr);
    $(function() {$('a#process_input').bind('click', function() {
            $.getJSON('/background_process',
            {id_talla: $('select[name="id_talla'+d.id_pr+'"]').val(),
             can_terminada: $('input[name="can_terminada'+d.id_pr+'"]').val(),
             id_prenda: $('input[name="id_prenda'+d.id_pr+'"]').val(),
             resta: $('input[name="resta'+d.id_pr+'"]').val()},
             
         function(data) {$("#result"+d.id_pr+"").text(data.result);getDataFaltante(d.id_pr);});
            
            return false;});});

    return'<div class="row"><div class="col-3">'+
        '<form method="POST action="><p id="result'+d.id_pr+'"></p><div class="form-group"><center><label class="form-group">'+

//Registrar tarea

        '<h6 class="modal-title w-100 font-weight-bold text-decoration-underline ">Registar Tarea</h6></label></center>'+
        '<div class=" "><select class="form-control-sm custom-select" name="id_talla'+d.id_pr+'"><option selected>Seleccione Talla</option><option value="1">Talla S</option><option value="2">Talla M</option> <option value="3">Talla L</option><option value="4">Talla XL</option><option value="5">Talla XXL</option></select></div>'+
        '<div class="  "><input type="number" class="form-control" id="tsid'+d.op+
        '1" name="can_terminada'+d.id_pr+'" aria-describedby="number" placeholder="cantidad"></div>'+
        '<input type="number" hidden="true" id="tsid'+d.op+
        '2" name="id_prenda'+d.id_pr+'" aria-describedby="number" value="'+d.id_pr+
        '">'+
        '<div class="row">'+
        '<div class="col-md-9"></div><div class="col-md-3"><input class="form-check-input" type="checkbox" name="resta'+d.id_pr+'" value="resta" id="tch'+d.op+'" mame="flexCheckDefault">'+
        '<small id="tch'+d.op+'" class="text-muted">Restar</small></div></div>'+
        '<div class=""><a  href=# dden id=process_input><button class="btn btn-outline-info form-group" type="submit" >Guardar</button></a></div></div>'+
        '</form></div>'+
        '<div class="col-3 border rounded">'+
//Cantidad Talla Total


        '<center><h6 class="modal-title w-100 font-weight-bold text-decoration-underline">Cantidad Talla Total</h6></center>'+
        '<div class="row " id="ctt" ><div class="col-sm-5">'+
        '<br><d class="font-weight-bold text-success text-decoration-underline">S    :' +d.tallaSS   +'</d>'+
        '<br><d class="font-weight-bold text-primary text-decoration-underline">M    :' +d.tallaM    +'</d>'+
        '<br><d class="font-weight-bold text-danger  text-decoration-underline">L    :' +d.tallaL    +'</d>'+
        '<br><d class="font-weight-bold text-decoration-underline">             XL   :' +d.tallaXL   +'</d>'+
        '<br><d class="font-weight-bold text-warning text-decoration-underline">XXL  :' +d.tallaXXL  +'</d>'+
        '</div>'+
        '<div class="col-sm-7">'+
        '<br><d id="rtS'+d.id_pr+'">  </d>'+
        '<br><d id="rtM'+d.id_pr+'">  </d>'+
        '<br><d id="rtL'+d.id_pr+'">  </d>'+
        '<br><d id="rtXL'+d.id_pr+'"> </d>'+
        '<br><d id="rtXXL'+d.id_pr+'"></d>'+
        '</div>'+
        '</div>'+d.noIgual+       
        '<hr>'+
        'Total tallas : '+d.totalTalla+
        '<br><d id="cf'+d.id_pr+'">Cantidad '+d.canFaltante+
        '</div>'+

        '<div class="col-3">'+
//Cantidad Registrada

        '<center><h6 class="modal-title w-100 font-weight-bold text-decoration-underline">Cantidad Registrada [<d id="cr'+d.id_pr+'"></d>] </h6></center><br>'+
        
        'Prendas '+
        '<br>'+
        '<d class="font-weight-bold text-decoration-underline" id="pS'+d.id_pr+'"></d>'+
        '<br>'+
                
        '</div><div class="col-3">'+
//Accion

        '<center><h6 class="modal-title w-100 font-weight-bold text-decoration-underline">Accion</h6></center>'+
        '<div class="container my-4"><div class="modal fade" id="modalSubscriptionFor" tabindex="-1" role="dialog" aria-labelledby="myModalLabe" aria-hidden="true"><div class="modal-dialog" role="document"><div class="modal-content"><div class="modal-header text-center"><h4 class="modal-title w-100 font-weight-bold text-muted ms-5">Editar registro Polo</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>'+
        '</div><div class="modal-body mx-6">'+
        '<form  method="POST" action="./update">'+
        '<div class="form-group  mx-sm-3 mb-2">'+
        '<input  class="form-contro-sm" type="text" placeholder="Codigo de Operación (OP)" name="op" value="'+d.op+'">'+
        '<input type="number" hidden="true" name="id_prenda" value="'+d.id_pr+'">'+
        '<input type="text" name="opold" hidden="true" value="'+d.op+'">'+
        '<input  class="form-contro-sm" type="text" placeholder="Referencia" name="referencia" value="'+d.referencia+'">'+
        '<input type="text" name="referenciaold" hidden="true" value="'+d.referncia+'">'+
        '<input  class="form-contro-sm" type="number" placeholder="Color" name="color" value="'+d.color+'">'+
        '<input type="number" name="colorold" hidden="true" value="'+d.color+'">'+
        '<input  class="form-contro-sm" type="number" placeholder="Cantidad Total" name="cant_total" value="'+d.cantidadTotal+'">'+
        '<input type="number" name="cantidadTotalold" hidden="true" value="'+d.cantidadTotal+'">'+
        '<input  class="form-contro-sm" type="number" placeholder="Talla S" name="cant_tallaS" value="'+d.tallaSS+'">'+
        '<input type="number" name="cant_tallaSold" hidden="true" value="'+d.tallaSS+'">'+
        '<input  class="form-contro-sm" type="number" placeholder="Talla M" name="cant_tallaM" value="'+d.tallaM+'">'+
        '<input type="number" name="cant_tallaMold" hidden="true" value="'+d.tallaM+'">'+
        '<input  class="form-contro-sm" type="number" placeholder="Talla L" name="cant_tallaL" value="'+d.tallaL+'">'+
        '<input type="number" name="cant_tallaLold" hidden="true" value="'+d.tallaL+'">'+
        '<input  class="form-contro-sm" type="number" placeholder="Talla XL" name="cant_tallaXL" value="'+d.tallaXL+'">'+
        '<input type="number" name="cant_tallaXLold" hidden="true" value="'+d.tallaXL+'">'+
        '<input  class="form-contro-sm" type="number" placeholder="Talla XXL" name="cant_tallaXXL" value="'+d.tallaXXL+'">'+
        '<input type="number" name="cant_tallaXXLold" hidden="true" value="'+d.tallaXXL+'">'+
        '<input  class="form-contro-sm" type="text" placeholder="Nota" name="nota" value="'+d.nota+'">'+
        '<input type="text" name="notaold" hidden="true" value="'+d.nota+'">'+
        '<div class="modal-footer d-flex justify-content-center">'+
        '<input type="submit"  class="btn btn-outline-success" value="Guardar">'+
        '<button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cerrar</button>'+
        '</div></form></div></div></div></div></div></div>'+
        '<div class="row" >'+
        '<div class="col-sm-6">'+
        '<input value="editar" type="button"class="btn-sm btn btn-outline-warning btn-rounded mb-2" data-toggle="modal" data-target="#modalSubscriptionFor">'+
        '</div>'+
        
        '<div class="col-sm-6">'+
        '<form method="POST" action="./delete" style="display: inline"  >'+
        '<input type="hidden" value="'+d.id_pr+'" name="id_pren">'+
        '<input type="hidden" value="'+d.id_operacion+'" name="id_op">'+
        '<input value="borrar " type="button" onClick="confSubmit(this.form);"class="btn-sm btn btn-outline-danger btn-rounded mb-2" >'+
        '</div>'+
        
        '</form></div>'+
        '<hr>'+'<div class="row" >'+
        '<div class="col-sm">Estado: '+d.estado+'</div>'+
        // '<div class="col-sm">'+
        //'<button type="button" class="btn-sm btn btn-outline-secondary btn-rounded " data-toggle="modal" data-target="#exampleModalLong">Historia</button>'+ 
        //'<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true"><div class="modal-dialog" role="document"><div class="modal-content"><div class="modal-header"><h5 class="modal-title" id="exampleModalLongTitle">Historico</h5><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>'+
        //'<div class="modal-body">'+
        //'En desarrollo..='+d.historia+'<br>'+
        //'</div><div class="modal-footer"><button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button></div></div></div></div>'+
        //'</div>'+
        '<div class="col-sm"></div>'+
        '<br><div class="col-sm"><a class="border border-dark btn-outline text-info btn-sm" '+
        'data-bs-toggle="tooltip" data-bs-placement="top"  title="'+d.nota+'">Nota</a>'+
        '</div>'+
        '<div>'+d.feechaOperacion+'</div></div>';
}
/*
        ffmpeg -f x11grab -r 25 -s 300x200 -i :0.0 -vcodec huffyuv screencast.avi

*/

function confSubmit(form) {
if (confirm("Estas segura que desea elimirar todo el registro!")) {
form.submit();
}

else {
alert("Los datos no se eliminaron!");
}
}

if ( window.history.replaceState ) {
  window.history.replaceState( null, null, window.location.href );
}
         

$(document).ready(function() {
  
    var dt = $('#example').DataTable( {
        
        "language": {
            "search":'<d class="font-weight-bold text-decoration-underline">Buscar: </d>',
            "lengthMenu": " Mostrar _MENU_ registro por paguina",
            'zeroRecords': '<div class="spinner-border text-success" role="status"><span class="sr-only">Loading...</span></div>',
            "info": " Mostrar por pagina _PAGE_ of _PAGES_",
            "infoEmpty": " Cargando datos disponible...",
            "infoFiltered": "(filtrado de  _MAX_ regstro total)"
        },
        "processing": false,
        "serverSide": false,
         "ajax": {
            "url": "/data",
            "type": "GET"
        },
        
        "columns": [ 
            {
                "class":          "details-control",
                "orderable":      false,
                "data":           null,
                "defaultContent": ""
            },
            { "data": "opD"},
            { "data": "referencia" },
            { "data": "cantidadTotal" },
            { "data": "color" },
            { "data": "fecha" }
        ],
        "order": [[1, 'dsc']]

    } );
 
    // Array to track the ids of the details displayed rows
    var detailRows = [];
 $('#example tbody').on( 'click', 'tr td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = dt.row( tr );
        var idx = $.inArray( tr.attr('id'), detailRows );
 
        if ( row.child.isShown() ) {
            tr.removeClass( 'details' );
            row.child.hide();
 
            // Remove from the 'open' array
            detailRows.splice( idx, 1 );
        }
        else {
            tr.addClass( 'details' );
            row.child( format( row.data() ) ).show();
 
            // Add to the 'open' array
            if ( idx === -1 ) {
                detailRows.push( tr.attr('id') );
            }
        }
    } );
 
    // On each draw, loop over the `detailRows` array and show any child rows
    dt.on( 'draw', function () {
        $.each( detailRows, function ( i, id ) {
            $('#'+id+' td.details-control').trigger( 'click' );
        } );
    } );
} );
    </script>




  </body>
</html>
